.toolbox {
    float: left;
    width: 220px;
    height: calc(100vh - 52px);
    overflow-y: auto;
    border-right: solid #e7e7e7 1px;
    background-color: #f8f8f8;
}

.toolbox-item {
    float: left;
    width: 50%;
    padding: 20px 0;
    text-align: center;
}

.canvas {
    position: relative;
    float: left;
    width: calc(100vw - 220px);
    height: calc(100vh - 52px);
    overflow-y: auto;
}

.node {
    display: inline-block;
    width: 80px;

    .body {
        border: solid #222 1px;
        border-radius: 4px;
        padding: 8px 4px;

        .body-name {
            margin: 0;
            font-size: 1.5rem;
        }

        .plugin-list {
            margin: 0;
            padding: 0;
        }
    }

    .input-list {
        margin: 0;
        padding: 0;
        height: 10px;

        @for $i from 1 through 4 {
            &.total-#{$i} .input-item {
                margin-left: (80px - $i * 8px) / ($i + 1);
            }
        }

        .input-item {
            display: block;
            float: left;
            width: 8px;
            height: 10px;
            background-image: url("/static/pin.svg");
        }

        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .output-list {
        margin: 0;
        padding: 0;
        height: 10px;

        @for $i from 1 through 4 {
            &.total-#{$i} .output-item {
                margin-left: (80px - $i * 8px) / ($i + 1);
            }
        }

        .output-item {
            display: block;
            float: left;
            width: 8px;
            height: 10px;
            background-image: url("/static/pin.svg");
            transform: scaleY(-1);
        }

        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }
}

.level {
    height: 100px;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.dragging-overlay {
    position: absolute;
    height: 120px;
    border-right: dashed #ddd 1px;
    border-bottom: dashed #ddd 1px;

    &.active {
        border-color: #e22;
    }
}
