.toolbox {
    float: left;
    width: 200px;
    height: 100%;
    overflow-y: auto;
}

.toolbox-item {
    float: left;
    width: 50%;
    text-align: center;
}

.node {
    display: inline-block;
    width: 80px;

    .input-list {
        margin: 0;
    }

    li {
        display: block
    }
}
