doctype html
html
    head
        meta(charset="utf8")
        title NNBuiler
        link(rel="stylesheet", href="/static/bootstrap.css")
        link(rel="stylesheet", href="/static/main.css")
        link(rel="stylesheet", href="/static/canvas.css")
        link(rel="stylesheet", href="/static/train.css")
        link(rel="stylesheet", href="/static/zindex.css")
        script(src="/static/jquery.js")
        script(src="/static/bootstrap.js")
        script(src="/static/main.js")
        script(src="/static/data.js")
        script(src="/static/canvas.js")
        script(src="/static/train.js")
    body
        #toast.container.fade.alert

        nav#nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='#') NNBuider
                ul.nav.navbar-nav
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown') 项目 <span class="caret" />
                        ul.dropdown-menu
                            li#nav-menu-new: a(href='#', data-toggle='modal', data-target='#dialog-new-project') 新项目
                            li#nav-menu-open: a(href='#', data-toggle='modal', data-target='#dialog-load-project') 打开项目
                            li.divider
                            li#nav-menu-save: a(href='#') 保存检查点
                            li#nav-menu-load: a(href='#', data-toggle='modal', data-target='#dialog-load-model') 读取检查点
                            li.divider
                            li#nav-menu-export: a(href='#') 导出模型
                    li#nav-model.active: a(href='#') 模型
                    li#nav-data: a(href='#') 数据
                    li#nav-train: a(href='#') 训练

        #dialog-new-project.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(data-dismiss='modal') &times;
                        h4.modal-title 新建项目
                    .modal-body
                        form
                            .form-group
                                label(for='dialog-new-project-name') 项目名称
                                input#dialog-new-project-name.form-control(type='text')
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') 取消
                        button#dialog-new-project-submit.btn.btn-primary(type='button') 确定

        #dialog-load-project.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(data-dismiss='modal') &times;
                        h4.modal-title 选择项目
                    .modal-body
                        ul#dialog-load-project-list.list-group
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') 返回

        #dialog-load-model.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(data-dismiss='modal') &times;
                        h4.modal-title 选择模型
                    .modal-body
                        ul#dialog-load-model-list.list-group
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') 返回

        #dialog-set-param.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(data-dismiss='modal') &times;
                        h4.modal-title
                    .modal-body
                        form.form-horizontal
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') 取消
                        button#dialog-set-param-submit.btn.btn-primary(type='button') 确定

        #main
            button#init-new.btn.btn-primary(data-toggle='modal', data-target='#dialog-new-project') new proj
            button#init-load.btn.btn-secondary(data-toggle='modal', data-target='#dialog-load-project') select proj
